@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* or 400 900 if that’s the supported range */
  font-style: normal;
  font-display: swap;
}
:root {
  --bg-deep: #0c1026;
  --bg-violet: #2a0a4a;
  --bg-purple: #3c0f6b;
  --glow-magenta: #7a1bb2;
  --accent-coral: #ff6e5b;
  --accent-peach: #ffa08f;
  --card-bg: #2b2146;
  --card-border: #4a3b67;
  --text-muted: #c9c2d9;
  --text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inconsolata", monospace;
  background-image: url("../assets/images/background-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-deep);
  color: var(--text);
}
h1 {
  font-weight: 700;
}
p {
  font-weight: 400;
}
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}
.main-logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.titles {
  width: 99%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  text-align: center;
}
.main-subtitle {
  color: var(--text-muted);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}
.upload-avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.drag-and-drop-zone {
  border: 1px dashed var(--bg-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: center;
  border-radius: 6px;
}
.upload-limit {
  color: var(--text-muted);
  display: flex;
  gap: 5px;
}
.form-group-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group input {
  height: 2.3rem;
  border-radius: 8px;
  padding: 0 10px;
  outline: none;
  border: 1px solid var(--bg-deep);
  background-color: transparent;
  color: var(--text);
}
.generate-button {
  width: 100%;
}
.generate-button button {
  width: 100%;
  padding: 16px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 8px;
  background: var(--accent-coral);
  color: var(--bg-deep);
  font-family: "Inconsolata";
}
@media (max-width: 576px) {
  .form-group {
    margin-right: 10px;
    margin-left: 10px;
  }
}
